@charset "utf-8";
/* CSS Document */

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    color: #000;
    background-image: url(bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
}

.Content{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 20px;}

h1 {
    font-size: 20pt;
    margin-top: 15px;
}
.top{
    color: #FFF;
}

table {
    border-collapse: collapse;
}

td {
    margin: 0;
    border-bottom: 1px solid #ccc;
}
li{
    list-style: none;
    display: block;
    float: left;
    padding-right: 10px;
}
ul.forms{
    margin: 0;
    border-bottom: 5px solid #ccc;
    overflow: hidden;
    padding-bottom: 10px;
}
.pager{
    font-size: 16px;
}
.pager a{
    padding: 5px;
    text-decoration: none;
    color: #b42a1f;
}
.pager-active{
    font-size: 24px;
    font-weight: bold;
}